name: Project4- build and push

on:
  push:
      tags:
         - "v*.*.*"
jobs:
   build-and-push:
      runs-on: ubuntu-latest

      steps:
          - name: Checkout
            uses: actions/checkout@v3

          - name: generate tags
            id: meta
            uses: docker/metadata-action@v5
            with:
              images: gordonsig/project3
              tags: |
                type=semver,pattern={{version}}
                type=semver,pattern={{major}}
                type=semver,pattern={{major}}.{{minor}}
                type=ref,latest=true

          - name: Login with secrets
            uses: docker/login-action@v2
            with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}


          - name: Build/Push
            uses: docker/build-push-action@v5
            with:
               context: .
               push: true
               tags: ${{ steps.meta.outputs.tags }}
               labels: ${{ steps.meta.outputs.labels }}

